<!DOCTYPE html>
<meta charset="utf-8">
<title>Poem Portraiture</title>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.0.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
</head>

<style>
body {
  font: 10px sans-serif;
}

rect {
  stroke: #fff;
}

svg {
  shape-rendering: crispEdges;
}
a{
  font-size: 40px;
  /*margin-left: 300px;*/
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: black;
}

p{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: black;
}

#poet-links-container{
  margin-top: 40%;
  margin-left: 10%;
}

</style>

<body>
  <div id="poet-links-container">
    <a href={{ url_for('eliot') }}>T.S. Eliot</a>
    <a href={{ url_for('berry') }} style="margin-left: 20px;">| Wendell Berry</a>
    <!--<a href={{ url_for('eliot') }} style="margin-left: 20px;">| Gerard Manley Hopkins</a>-->
    <!--<a href={{ url_for('eliot') }} style="margin-left: 20px;">| William Blake</a>-->
    <p>Every word is a universe unto itself.</p>
  </div>
</body>